<center>
  <h3>Company Facebook Details</h3>

<table class="table table-striped">  
  <thead>
    <tr>
      <th>Facebook ID</th>
      <th>Company Name</th>
      <th>Facebook url</th>
      <th>Facebook Likes</th>
      <th>Company description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @company_facebooks.each do |company_facebook| %>
      <tr>
        <td class="facebook_id"><%= company_facebook.fid %></td>
        <td><%= company_facebook.company_name %></td>
        <td><%= company_facebook.f_url %></td>
        <td><%= company_facebook.f_likes %></td>
        <td><%= company_facebook.company_description %></td>
        <td><%= link_to 'Show', company_facebook %></td>
        <td><%= link_to 'Edit', edit_company_facebook_path(company_facebook) %></td>
        <td><%= link_to 'Destroy', company_facebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Not Listed? Add new Company here', new_company_facebook_path %>
</center>
